.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  padding: 0 0 2rem;
}

.title {
  margin: 0;
  line-height: 1;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}