.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 2rem 0;
}

.main {
  display: grid;
  gap: 2rem;
}

@media (min-width: 786px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }
}

.title {
  margin: 0;
  line-height: 1;
}

.subtitle {
  margin: 1rem 0 0.5rem;
}

.randomize {
  align-self: end;
  justify-self: start;
}
